<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID"
         version="6.0">

    <display-name>Recipe-Finder123</display-name>

    <!-- Welcome Page Configuration -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>HomePage.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchRecipeServlet</servlet-name>
        <servlet-class>servlet.SearchRecipeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RecipeListServlet</servlet-name>
        <servlet-class>servlet.RecipeListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RecipesServlet</servlet-name>
        <servlet-class>servlet.RecipesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchRecipeServlet</servlet-name>
        <url-pattern>/SearchRecipeServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RecipeListServlet</servlet-name>
        <url-pattern>/RecipeListServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RecipesServlet</servlet-name>
        <url-pattern>/Recipes</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>



</web-app>
